{% extends 'base.html' %}
{% load static %}

{% block content %}
    <div class="row">
        <div class="col-lg-8 mx-auto">
            <h1>  {{ object.pk }} </h1>
            <ul>
                <li> Project Name: {{ object.project_title }}</li>
                <li> Sales:               TND {{ object.sales }}       Units to be Sold: {{ object.units_sold }}</li>
                <li> Variabloe Costs:     TND{{ object.variable_cost }}</li>
                <li> Contribution Margin: TND{{ object.contribution_margin }}       Contribution Ratio: {{ object.contribution_margin_pct }}</li>
                <li> Fixed Costs:         TND{{ object.fixed_cost }}</li>
                <li> Net Income:          TND{{ object.net_income }}</li>
                <li>--------------------------------------------------------------------</li>
                <li> Break Even Point in TND: {{ object.breakevendollar }}</li>
                <li> Break Even Point in Units: {{ object.breakevenunit }}</li>
                {% if object.target_profit  != 0 %}
                    <li> What if Analysis for  Cost Volume Profit Analysis</li>
                    <li> Target Profit:             {{ object.target_profit }} <li> 
                    <li> Break Even Point in TND:   {{ object.targetbepd }}</li>
                    <li> Break Even Point in Units: {{ object.targetbepu }}</li>
                {% endif %}
                
            
            </ul>
            <a href="{% url 'breakevenpoint:bep_update' object.pk %}">Update</a>
            <a href="{% url 'breakevenpoint:bep_delete' object.pk %}">Delete</a>
        
         </div>
    </div>

    <canvas id="myChart" width="10" height="10"></canvas>
        <script>
        var ctx = document.getElementById('myChart').getContext('2d');
        var myChart = new Chart(ctx, {
            type: 'line',
            data: {
                labels: ['Red', 'Blue', 'Yellow', 'Green', 'Purple', 'Orange'],
                datasets: [{
                    label: '# of Votes',
                    data: [{{ object.fixed_cost }},{{ object.fixed_cost }},{{ object.fixed_cost }},{{ object.fixed_cost }}, {{ object.fixed_cost }}, {{ object.fixed_cost }}],
                    backgroundColor: [
                        'rgba(255, 99, 132, 0.2)',
                        'rgba(54, 162, 235, 0.2)',
                        'rgba(255, 206, 86, 0.2)',
                        'rgba(75, 192, 192, 0.2)',
                        'rgba(153, 102, 255, 0.2)',
                        'rgba(255, 159, 64, 0.2)'
                    ],
                    borderColor: [
                        'rgba(255, 99, 132, 1)',
                        'rgba(54, 162, 235, 1)',
                        'rgba(255, 206, 86, 1)',
                        'rgba(75, 192, 192, 1)',
                        'rgba(153, 102, 255, 1)',
                        'rgba(255, 159, 64, 1)'
                    ],
                    borderWidth: 1
                }]
            },
            options: {
                scales: {
                    y: {
                        beginAtZero: true
                    }
                }
            }
        });
        </script>

{% endblock %}